<div class="row">
    <div class="d-flex justify-content-end">
        <button mat-icon-button color="warn" (click)="flagRecipe(); flagClicked = true"
            [disabled]="data.recipe.isFlagged || flagClicked"><mat-icon>flag</mat-icon></button>
    </div>
</div>
<div mat-dialog-content>
    <div class="card">
        <div class="col">
            <img src="{{ data.recipe.image }}" class="card-img-top" style="animation: pulse; animation-duration: 0.5s;" />
            <div class="text-center">
                <p class="mt-1">Like this recipe to add it to your favorites list!</p>
                <button class="mt-1" mat-raised-button color="primary" *ngIf="user$ | async as user"
                    (click)="likeRecipe(user.sub)"><mat-icon>thumb_up</mat-icon> Like</button>
            </div>
        </div>

        <div class="card-body ms-2" style="border-left: 2px solid whitesmoke;">
            <h3 class="pb-1 ps-2" style="background-color: #643cb4; color: white">
                <div class="row">
                    <p class="col-sm-12 col-md-6 text-uppercase">{{ data.recipe.title }}</p>
                    <p class="col text-uppercase text-end me-2">By {{data.recipe.authorName}}</p>
                </div>
            </h3>
            <div class="ps-2" style="background-color: rgb(168, 143, 218, 0.2);">
                <h5>Diet Type:</h5>
                <p class="card-text">{{ data.recipe.diet }}</p>
                <h5>Ingredients:</h5>
                <ul>
                    <li *ngFor="let ingredient of data.recipe.ingredients">
                        {{ ingredient["name"] }} ({{ ingredient["amount"] }})
                    </li>
                </ul>
                <h5>Instructions:</h5>
                <p class="card-text">{{ data.recipe.instructions }}</p>
                <h5>Cooking Time:</h5>
                <p class="card-text">{{ data.recipe.cookTime }}</p>
            </div>
            <div class="container" style="border-top: 2px solid #643cb4;">
                <h5>Comments: {{commentList.length}}</h5>
                <div>
                    <div *ngFor="let comment of commentList">
                        <div style="border-bottom: 1px solid whitesmoke;">
                            <h5 class="d-flex text-uppercase" style="color: #643cb4; background-color: whitesmoke; width:fit-content; border-radius: 2px;">{{comment.commentAuthorName}}:</h5>
                            <p class="d-flex">{{comment.commentContent}}</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex pt-1" *ngIf="user$ | async as user">
                    <textarea class="col-10" [(ngModel)]="newCommentContent" rows="4" cols="30" placeholder="Enter your comment"></textarea>
                    <button class="col ms-1 mt-4 mb-4" mat-raised-button color="primary" (click)="addNewComment(user.sub, user.nickname)" style="width: 30%;"><mat-icon>comment</mat-icon></button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" mat-dialog-actions>
    <div class="col">
        <button mat-raised-button color="link" mat-dialog-close>Close</button>
    </div>
    <div class="col text-end" *ngIf="user$ | async as user" style="display: flex; flex-wrap: wrap;">
        <button class="mb-1" (click)="updateRecipe(data.recipe._id, data.recipe)" *ngIf="user.sub === data.recipe.authorId"
            mat-raised-button color="primary" style="flex: 1;" mat-dialog-close>Edit Recipe</button>

        <button class="mb-1" (click)="deleteRecipe()" *ngIf="user.sub === data.recipe.authorId || isAdmin" mat-raised-button
            color="warn" style="flex: 1;" mat-dialog-close>Delete Recipe</button>
    </div>

</div>