.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.bg-image {
    opacity: 0.4;
}

.active{
    font-weight: 600;
    background-color: white;
}

a:hover {
    color: #000000;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    animation: flipInX;
    animation-duration: 2s;
}
